body {
    align-content: center;
    background-color: #3b1230;
    color: white;
    display: block;
}

nav{
    background-color: #7e4f6a;
    position:relative;
    top: -1rem;
}

li{
    justify-self: center;
    display:inline-flex;
    padding: 1rem;
}

a {
    color: white;
    font-size: x-large;
}

.overskrift {
    background-color: #8f5578;
    justify-self: center;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 8px;
}

.tekst {
    background-color: #714560;
    width: 80%;
    justify-self: center;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 8px;
}

.main1 {
    display:grid;
    flex: 60%;
    justify-self: center;
    padding-bottom: 1rem;
}

.bilde {
    display: flex;
    width: 80%;
    max-width: 39rem;
    justify-self: center;
    align-items: center;

}
.bilde img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}
footer {
    background-color: #000;
    padding: 0.75rem;
    margin: -0.5rem;
    position: relative;
    bottom: -1rem;
}
.cookies-eu-banner {
  background: #444;
  color: #fff;
  padding: 6px;
  font-size: 13px;
  text-align: center;
  justify-self: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.cookies-eu-banner button {
  text-decoration: none;
  background: #222;
  color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  padding: 4px 7px;
  margin: 2px 0;
  font-size: 13px;
  font-weight: 700;
  transition: background 0.07s, color 0.07s, border-color 0.07s;
}

.cookies-eu-banner button:hover {
  background: #fff;
  color: #222;
}